version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - MONGO_URI=mongodb://mongo:27017/
      - MONGO_DB_NAME=medical_project
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:7
    ports:
      - "27018:27017" # Use 27018 on host to avoid conflict with local MongoDB
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
